@charset "UTF-8";
/*******BREAKPOINTS********/
/*******VARIABLES*********/
/*********FONTS*******/
@font-face {
  font-family: 'Montserrat ExtraLight';
  src: url("../html5blank-stable/fonts/Montserrat-ExtraLight.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat ExtraLight Italic';
  src: url("../html5blank-stable/fonts/Montserrat-ExtraLightItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Regular';
  src: url("../html5blank-stable/fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Light';
  src: url("../html5blank-stable/fonts/Montserrat-Light.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Light Italic';
  src: url("../html5blank-stable/fonts/Montserrat-LightItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Medium';
  src: url("../html5blank-stable/fonts/Montserrat-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Medium Italic';
  src: url("../html5blank-stable/fonts/Montserrat-MediumItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url("../html5blank-stable/fonts/Montserrat-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat SemiBoldItalic';
  src: url("../html5blank-stable/fonts/Montserrat-SemiBoldItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

/** BASE **/
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5% !important; }
  @media (min-width: 1780px) {
    html {
      font-size: 76.5% !important; } }

* {
  box-sizing: border-box; }

body, a, p, span, li, h1, h2, h3, h4, h5 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  font-family: 'Montserrat Regular', sans-serif; }

.hidden {
  display: none !important; }

ul, a, li {
  text-decoration: none;
  list-style-type: none; }

a.active,
a:active,
a:focus,
a:hover {
  text-decoration: none !important;
  cursor: pointer; }

.header.clear {
  display: none; }

.centered {
  margin: 0 auto !important; }

.container {
  margin: 0 !important;
  padding: 0 !important; }

.center-text {
  text-align: center; }

.yellow {
  color: #fcd400; }

.white {
  color: #fff; }
  .white a:visited, .white a:focus, .white a:active, .white a:hover {
    color: #fff; }

.italic {
  font-style: italic; }

.hide {
  visibility: hidden; }

h2 strong {
  font-family: 'Montserrat Medium', sans-serif;
  font-style: italic;
  font-weight: normal !important; }

p strong {
  font-family: 'Montserrat Medium', sans-serif;
  font-weight: normal !important; }

.button {
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 2rem 4rem;
  border-radius: 4px;
  font-family: 'Montserrat SemiBold', sans-serif;
  display: inline-block; }
  .button.white-button {
    background-color: #fff;
    color: #181d25;
    transition: 0.5s ease; }
    .button.white-button:active, .button.white-button:hover, .button.white-button a:focus {
      background-color: #181d25;
      color: #fff;
      transition: 0.5s ease; }
  .button.black-button {
    background-color: #181d25;
    color: #fff;
    transition: 0.5s ease; }
    .button.black-button:active, .button.black-button:hover, .button.black-button a:focus {
      background-color: #fff;
      color: #181d25;
      transition: 0.5s ease; }

/*** LAYOUT ***/
#headerHero {
  background-image: url("img/content/asset-_01.jpg");
  background-size: cover;
  min-height: 100vh;
  position: relative; }
  #headerHero #menuNav ul, #headerHero #menuNav #logoContainer {
    display: inline-block; }
  #headerHero header nav {
    height: 80px;
    padding: 1.2rem 0px; }
    #headerHero header nav ul {
      float: right; }
      #headerHero header nav ul li {
        display: inline-block;
        font-family: 'Montserrat Medium', sans-serif;
        font-size: 1.4rem;
        margin: 0rem 2.0rem; }
        #headerHero header nav ul li a {
          color: #fff; }
  #headerHero .content {
    padding-top: calc(100vh - 52%); }
    #headerHero .content h1 {
      font-family: 'Montserrat Medium', sans-serif;
      font-size: 3.6rem;
      line-height: 3.6rem;
      margin-bottom: 1rem; }
    #headerHero .content p {
      font-family: 'Montserrat ExtraLight', sans-serif;
      font-size: 4.7rem;
      line-height: 4.7rem;
      margin: 2rem 0rem 4rem 0rem; }
  #headerHero #bottomHeaderBanner {
    background-color: #fcd400;
    position: absolute;
    bottom: 0px;
    text-align: center; }
    #headerHero #bottomHeaderBanner p {
      padding: 0.8rem 4rem;
      font-size: 1.6rem;
      line-height: 2.2rem; }
    #headerHero #bottomHeaderBanner p:before {
      content: '•';
      font-size: 4.2rem;
      display: block;
      margin-bottom: 0.8rem; }

.content h2, .content h3 {
  font-family: 'Montserrat Medium', sans-serif;
  font-size: 3.0rem;
  line-height: 3.2rem; }
  .content h2.light, .content h3.light {
    font-family: 'Montserrat Light', sans-serif; }

.content h4 {
  font-size: 1.6rem;
  margin-bottom: 2.2rem; }

.content p, .content li {
  font-family: 'Montserrat Light', sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem; }

#References1 {
  background: #181d25; }
  #References1 p, #References1 img {
    display: inline-block; }
  #References1 img {
    max-width: 16rem;
    margin: 0rem 0.2rem; }
  #References1 .content {
    padding: 8.9rem 0rem; }
  #References1 .row {
    text-align: center; }
    #References1 .row p {
      margin-top: 2rem; }

#Enjeux {
  background: #fff;
  display: flex; }
  #Enjeux h2 {
    margin-bottom: 5rem; }
  #Enjeux .image-container, #Enjeux .content {
    width: 50%; }
  #Enjeux .content {
    padding: 12.7rem 0rem;
    padding-left: 12.5%;
    padding-right: 5%; }

#Cibles {
  background: #181d25;
  background-image: url("img/content/cibles.jpg");
  background-size: cover; }
  #Cibles .content {
    padding: 12.2rem 0rem; }
    #Cibles .content h2 {
      color: #fcd400;
      margin-bottom: 6.9rem; }
  #Cibles .hybrid {
    margin-top: 9rem; }
  #Cibles .list-container {
    border-top: 1px solid #fff; }
    #Cibles .list-container ul {
      margin: 0rem; }
      #Cibles .list-container ul li {
        margin-top: 0.2rem; }
    #Cibles .list-container h4 {
      font-family: 'Montserrat Medium', sans-serif;
      margin: 6.5rem 0rem; }

#Offres {
  background: #fff; }
  #Offres .content {
    padding: 8.3rem 0rem; }
    #Offres .content p {
      margin: 0rem; }
    #Offres .content h2 {
      margin-bottom: 3.8rem; }

/*** OFFRES ***/
.offre {
  padding: 12.1rem 9.1rem;
  display: inline-block;
  width: 50%; }
  .offre .paint {
    display: inline-block;
    position: relative;
    z-index: 1; }
    .offre .paint:before {
      content: ' ';
      position: absolute;
      height: 1.4rem;
      width: 100%;
      bottom: 0;
      z-index: -1; }
    .offre .paint.paint-white:before {
      background-color: #fff; }
    .offre .paint.paint-yellow:before {
      background-color: #fcd400; }
  .offre h5 {
    font-family: 'Montserrat Medium', sans-serif;
    font-size: 1.9rem;
    line-height: 2.2rem;
    margin-bottom: 2.8rem; }
  .offre h4 {
    font-family: 'Montserrat Light', sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 2.2rem; }
  .offre ul {
    margin-bottom: 5.2rem; }
  .offre p {
    margin-bottom: 4.2rem; }
  .offre .checklist li:before {
    content: '✓';
    font-size: 1.6rem;
    margin-right: 0.8rem;
    vertical-align: text-bottom; }

.section-offre {
  display: flex; }

.image-container {
  padding: 0rem;
  background-color: transparent !important; }
  .image-container img {
    width: 100%;
    height: 100%; }

#Offre1 .offre, #Offre4 .offre {
  background-color: #fcd400; }

#Reussite {
  background-color: #181d25; }
  #Reussite .content {
    padding: 20rem 0px; }
  #Reussite .container-title {
    margin-bottom: 13rem; }
  #Reussite .container-logo {
    margin-bottom: 6rem; }
    #Reussite .container-logo .col-3 {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }
  #Reussite h2 {
    font-size: 4.7rem;
    line-height: 5.7rem; }
    #Reussite h2 strong {
      color: #fcd400; }

#Forces {
  padding: 13.8rem 0px; }
  #Forces h3 {
    margin-bottom: 4.0rem; }
  #Forces h4 {
    font-family: 'Montserrat Medium', sans-serif; }
  #Forces p {
    margin-top: 1rem; }
  #Forces .text-content {
    padding: 2rem 4rem 2rem 0rem; }

#Contact {
  background-color: #fcd400;
  padding: 12rem 0rem; }

#Footer {
  background-color: #181d25;
  padding: 2.4rem; }
  #Footer ul li {
    font-family: 'Montserrat Medium', sans-serif;
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1.5rem;
    margin: 0rem 1.8rem; }
  #Footer a, #Footer a:visited, #Footer a:hover, #Footer a:active, #Footer a:focus {
    color: #fff !important; }
