@import 'include-media.scss';

/*******BREAKPOINTS********/
$breakpoints: (small: 0px, xsmall: 345px, mobile: 435px, tablet: 768px, large: 1024px, xlarge: 1280px, cardbkp: 1298px, xxlarge: 1440px, footerbkp: 1680px, hirez: 1780px);

/*******VARIABLES*********/
$color-yellow: #fcd400;
$color-darkblue: #181d25;

/*********FONTS*******/
@font-face {
    font-family: 'Montserrat ExtraLight';
    src: url('../html5blank-stable/fonts/Montserrat-ExtraLight.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat ExtraLight Italic';
    src: url('../html5blank-stable/fonts/Montserrat-ExtraLightItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat Regular';
    src: url('../html5blank-stable/fonts/Montserrat-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('../html5blank-stable/fonts/Montserrat-Light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Light Italic';
    src: url('../html5blank-stable/fonts/Montserrat-LightItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('../html5blank-stable/fonts/Montserrat-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Medium Italic';
    src: url('../html5blank-stable/fonts/Montserrat-MediumItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('../html5blank-stable/fonts/Montserrat-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat SemiBoldItalic';
    src: url('../html5blank-stable/fonts/Montserrat-SemiBoldItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}



/** BASE **/
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62.5%!important;
    @include media('<=xxlarge') {
        font-size: 52.5%!important;
    }
    @include media('>=hirez') {
        font-size: 76.5%!important;
    }
}

* {
    box-sizing: border-box;
}

body, a,p, span, li, h1, h2, h3, h4, h5 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    font-family: 'Montserrat Regular', sans-serif;
}

.hidden{
    display: none!important;
}

ul,a, li {
    text-decoration: none;
    list-style-type: none;
}

a.active,
a:active,
a:focus,
a:hover {
    text-decoration: none !important;
    cursor: pointer;
}

.header.clear {
    display: none;
}

.centered {
    margin: 0 auto !important;
}

.container {
    margin: 0 !important;
    padding: 0 !important
}

.center-text {
    text-align: center;
}

.yellow{
    color: $color-yellow;
}

.white{
    color: #fff;
    a:visited,a:focus,a:active,a:hover{
        color: #fff; 
    }
}

.italic{
    font-style: italic;
}

.hide{
    visibility: hidden;
}

.underline{
    text-decoration: underline $color-yellow;
    text-underline-position: under;
}

nav{
    ul{
        li{
            a{
                font-weight: normal;
                transition: 0.5s ease;
            }
            a:hover{
                font-weight: bold;
                transition: 0.5s ease;
            }
        }
    }
}

h2{
    strong{
    font-family: 'Montserrat Medium', sans-serif;
    font-style: italic;
    font-weight: normal!important;
    }
    .underline{
        strong{
        font-style: normal;
        }
        text-decoration: underline $color-yellow;
    }
}

p{
    strong{
        font-family: 'Montserrat Medium', sans-serif;
        font-weight: normal!important;
    }
}

.button{
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 2rem 4rem;
    border-radius: 4px;
    font-family: 'Montserrat SemiBold', sans-serif;
    display: inline-block;
    &.white-button{
        background-color: #fff;
        color: $color-darkblue;
        transition: 0.5s ease;
        &:active, &:hover, a:focus{
            background-color: $color-darkblue;
            color: #fff;
            transition: 0.5s ease;
        }
    }
    &.black-button{
        background-color: $color-darkblue;
        color: #fff;
        transition: 0.5s ease;
        &:active, &:hover, a:focus{
            background-color: #fff;
            color: $color-darkblue;
            transition: 0.5s ease;
        }
    }
}

.col-3, .col-4, .col-5, .col-6, .col-8, .col-9{
    
}

/*** LAYOUT ***/
#headerHero{
    background-image: url('img/content/asset-_01.jpg');
    background-size: cover;
    min-height: 100vh;
    position: relative;
    #menuNav{
        @include media('<=mobile') {
            text-align: center;
        }
        ul, #logoContainer{
            display: inline-block;
            img{
                @include media('<=mobile') {
                    max-width: 8rem;
                }
            }
        }
    }
    strong{
        font-style: italic;
    }
    header{
        nav{
            height: 80px;
            padding: 1.2rem 0px;

            ul{
                float: right;
                li{
                    display: inline-block;
                    font-family: 'Montserrat Medium', sans-serif;
                    font-size: 1.4rem;
                    margin: 0rem 2.0rem;
                    @include media('<=tablet') {
                        margin: 0rem 1.0rem;
                    }
                    a{
                        color: #fff;
                    }
                }
            }
        }
    }
    .content{
        padding-top: calc(100vh - 52%);
        @include media('<=xxlarge') {
            padding-top: calc(100vh - 54%);
        }
        @include media('<=tablet') {
            padding-top: 20vh;
        }
        @include media('<=mobile') {
            padding-top: 10vh;
        }
        h1{
            font-family: 'Montserrat Medium', sans-serif;
            font-size: 3.6rem;
            line-height: 3.6rem;    
            margin-bottom: 1rem;
        }
        p{
            font-family: 'Montserrat ExtraLight', sans-serif;
            font-size: 4.7rem;
            line-height: 4.7rem;  
            margin: 2rem 0rem 4rem 0rem;  
            @include media('<=tablet') {
                font-size: 2.7rem;
                line-height: 2.7rem;
            }
        }
    }
    #bottomHeaderBanner{
        background-color: $color-yellow;
        position: absolute;
        bottom: 0px;
        text-align: center;
        @include media('<=mobile') {
            width: 100%;
            left: 0;
        }
        p{
            padding: 0.8rem 4rem;
            font-size: 1.6rem;
            line-height: 2.2rem;
            @include media('<=mobile') {
                margin-bottom: 0rem;
            }
        }
        p:before{
            content: '•';
            font-size: 4.2rem;
            display: block;
            margin-bottom: 0.8rem;
            @include media('<=mobile') {
                display: inline-block;
                vertical-align: middle;
                margin-right: 0.8rem;
            }
        }
        .col-4, .col-9{
            @include media('<=mobile') {
                width: 100%;
            }
        }
    }
}

//Layout typo basique
.content{
    h2, h3{
        font-family: 'Montserrat Medium', sans-serif;
        font-size: 3.0rem;
        line-height: 3.8rem;
        &.light{
            font-family: 'Montserrat Light', sans-serif;
        }
    }
    h4{
        font-size: 1.6rem;
        margin-bottom: 2.2rem;
    }
    p, li{
        font-family: 'Montserrat Light', sans-serif;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

}

#References1{
    background: $color-darkblue;
    p,img{
        display: inline-block;
    }
    div{
        @include media('<=tablet') {
            display: block;
            margin: 1.2rem auto;
        }
    }
    img{
        max-width: 16rem;
        margin: 0rem 0.2rem;
    }
    .content{
        padding: 8.9rem 0rem;
        @include media('<=tablet') {
            padding: 4.45rem 0rem;
        }
    }
    .row{
        text-align: center;
        p{
            margin-top: 2rem;
        }
    }
}

#Enjeux{
    background: #fff;
    display: flex;
    @include media('<=tablet') {
        flex-direction: column;
    }
    h2{
        margin-bottom: 5rem ;
    }
    .image-container, .content{
        width: 50%;
        @include media('<=tablet') {
            width: 100%;
        }
    }
    .content{
        padding: 12.7rem 0rem;
        padding-left: 12.5%;
        padding-right: 5%;
        @include media('<=tablet') {
            padding-right: 12.5%;
        }
        @include media('<=mobile') {
            padding: 6.35rem 12.5%;
        }
    }

}

#Cibles{
    background: $color-darkblue;
    background-image: url('img/content/cibles.jpg');
    background-size: cover;
    .col-5, .col-3, .col-4{
        @include media('<=mobile') {
            width: 100%;
        }
    }
    .col-5{
        margin-bottom: 6.9rem;
    }
    .gutter{
        @include media('<=mobile') {
            display: none;
        }
    }
    .hide{
            @include media('<=mobile') {
                display: none;
            }
    }
    .content{
        padding: 12.2rem 0rem;
        @include media('<=mobile') {
            padding: 6.1rem 0rem;
        }
        h2{
            color: $color-yellow;
            margin-bottom: 6.9rem;
            @include media('<=mobile') {
                margin-bottom: 3.45rem;
            }
        }
    }
    .hybrid{
        margin-top: 9rem;
        @include media('<=mobile') {
            margin-top: 0rem;
        }
    }
    .list-container{
        border-top: 1px solid #fff;
        @include media('<=mobile') {
            border: none;
        }
        ul{
            margin: 0rem;
            li{
                margin-top: 0.2rem;
            }
        }
        h4{
            font-family: 'Montserrat Medium', sans-serif;
            margin: 6.5rem 0rem;
            @include media('<=mobile') {
                margin: 6.5rem 0rem 3.25rem 0rem;
            }
        }
    }
}

#Offres{
    background: #fff;
    position: relative;
    .content{
        padding: 8.3rem 0rem;
        p{
            margin: 0rem;
        }
        h2{
            margin-bottom: 3.8rem;
        }
    }
}

#Placeholder{
    text-align: center;
    position: absolute;
    width: 100%;
    top: -4rem;
    @include media('<=tablet') {
        display: none;
    }
    .triangle{
        background-image: url('img/content/rectangle.png');
        background-size: cover;
        display: inline-block;
        height: 7.5rem;
        width: 7.5rem;
    }
}

/*** OFFRES ***/
.offre{
    padding: 12.1rem 9.1rem;
    display: inline-block;
    width: 50%;
    @include media('<=tablet') {
        width: 100%;
    }
    @include media('<=mobile') {
        padding: 6.05rem 3.55rem;
    }
    .paint{
        display: inline-block;
        position: relative;
        z-index: 1;
        &:before{
            content: ' ';
            position: absolute;
            height: 1.4rem;
            width: 100%;
            bottom: 0;
            z-index: -1;
        }
        &.paint-white:before{
            background-color: #fff;
        }
        &.paint-yellow:before{
            background-color: $color-yellow;
        }
    }
    h5{
        font-family: 'Montserrat Medium', sans-serif;
        font-size: 1.9rem;
        line-height: 2.2rem;
        margin-bottom: 2.8rem;
    }
    h4{
        font-family: 'Montserrat Light', sans-serif;
        font-size: 1.6rem;
        text-transform: uppercase;
        margin-bottom: 2.2rem;
    }
    ul{
        margin-bottom: 5.2rem;
    }
    p{
        margin-bottom: 4.2rem;
    }
    .checklist{
        li:before{
            content: '✓';
            font-size: 1.6rem;
            margin-right: 0.8rem;
            vertical-align: text-bottom;
        }
    }
}

.section-offre{
    display: flex;
    position: relative;
    @include media('<=tablet') {
        flex-direction: column;
    }
    .image-container{
        @include media('<=tablet') {
            order: 2;
        }
    }
}

.image-container{
    padding: 0rem;
    background-color: transparent!important;
    img{
        width: 100%;
        height: 100%;
    }
    @include media('<=tablet') {
        margin-bottom: -1rem;
    }
    
}


#Offre1, #Offre4{
    .offre{
        background-color: $color-yellow;
    }
}

#Reussite{
    background-color: $color-darkblue;
    .content{
        padding: 20rem 0px;
        @include media('<=mobile') {
            padding: 6rem 0px;
        }
    }
    .container-title{
        margin-bottom: 13rem;
        @include media('<=mobile') {
            margin: 0rem auto;
            margin-bottom: 6.9rem;
        }
    }
    .container-logo{
        margin-bottom: 6rem;
        .col-3{
            text-align: center;
            display:flex;
            justify-content:center;
            align-items:center;
            @include media('<=mobile') {
                margin: 2.6rem auto;
            }
        }
    }
    h2{
        font-size: 4.7rem;
        line-height: 5.7rem;
        @include media('<=mobile') {
            font-size: 3.6rem;
            line-height: 4.3rem;
            text-align: center;
        }
        strong{
            color: $color-yellow;
        }
    }
    img{
            @include media('<=tablet') {
                max-width: 10rem;
            }
        }
    .col-8, .col-3{
        @include media('<=mobile') {
            width: 100%;
        }
    }
}

#Forces{
    padding: 13.8rem 0px;
    @include media('<=mobile') {
        padding: 6.9rem 0px;
    }
    h3{
        margin-bottom: 4.0rem;
    }
    h4{
        font-family: 'Montserrat Medium', sans-serif;
    }
    p{
        margin-top: 1rem;
    }
    .text-content{
        padding: 2rem 4rem 2rem 0rem;
    }
    .col-4{
        @include media('<=mobile') {
            width: 100%;
        }
    }
}

#Contact {
    background-color: $color-yellow;
    padding: 12rem 0rem;
    @include media('<=mobile') {
        padding: 6rem 0rem;
    }
    .col-6{
        @include media('<=mobile') {
            width: 100%;
        }
    }
    div.wpcf7-validation-errors, div.wpcf7-acceptance-missing, div.wpcf7-mail-sent-ok {
        border: none;
        font-size: 1.6rem;
    }
    .wpcf7-response-output {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .wpcf7 {
        margin: 0 auto;
        @include media('<=tablet') {
            text-align: center;
        }
    }
    form {
        padding-top: 4.6rem;
        font-size: 1.6rem;
        .col-6,
        .col-12 {
            @include media('<=large') {
                margin-bottom: 1.8rem;
            }
        }
        .row {
            margin-bottom: 3.2rem;
            @include media('<=large') {
                margin-bottom: 0rem;
            }
        }

        textarea,
        input[type=submit] {
            width: 100%;
        }

        textarea,
        input[type=submit],
        input {
            border: none;
            padding: 1rem 2rem;
            outline: none;
            background-color: #f0f0f0;
            width: 100%;
        }

        input[type=submit] {
            background-color: $color-darkblue;
            color: #fff;
            transition: 0.5s ease;
            font-weight: 600;
            font-family: 'Montserrat Light', sans-serif;
            font-size: 1.8rem;
            padding: 1.6rem;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
    }
}

#Footer{
    background-color: $color-darkblue;
    padding: 2.4rem;
    @include media('<=tablet') {
        text-align: center;
    }
    ul{
        margin-left: 0rem;
        li{
            font-family: 'Montserrat Medium', sans-serif;
            display: inline-block;
            font-size: 1.4rem;
            line-height: 1.5rem;
            margin: 0rem 1.8rem;
            margin-left: 0rem;
            @include media('<=mobile') {
                display: block;
                margin: 1.6rem auto;
            }
        }
    }
    a, a:visited, a:hover, a:active, a:focus{
        color: #fff!important;
    }
    #footerElements{
        float: right;
        @include media('<=tablet') {
            float: none;
        }
    }
    nav, #footerElements{
        display: inline-block;
        img, p{
            display: inline-block;
            @include media('<=tablet') {
                display: block;
                margin: 1.6rem auto;
            }
        }
        p{
            font-family: 'Montserrat Light', sans-serif;
            color:#fff;
            font-size: 1.3rem;
            line-height: 2.3rem;
            margin: 0rem;
            margin-left: 2rem;
            vertical-align: bottom;
            @include media('<=tablet') {
                margin: 2.2rem auto;
            }
        }
    }
}
