@import 'include-media.scss';

/*******BREAKPOINTS********/
$breakpoints: (small: 0px, xsmall: 345px, mobile: 435px, tablet: 768px, large: 1024px, xlarge: 1280px, cardbkp: 1298px, xxlarge: 1440px, footerbkp: 1680px, hirez: 1780px);

/*******VARIABLES*********/
$color-yellow: #fcd400;
$color-darkblue: #181d25;

/*********FONTS*******/
@font-face {
    font-family: 'Montserrat ExtraLight';
    src: url('../html5blank-stable/fonts/Montserrat-ExtraLight.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat ExtraLight Italic';
    src: url('../html5blank-stable/fonts/Montserrat-ExtraLightItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat Regular';
    src: url('../html5blank-stable/fonts/Montserrat-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('../html5blank-stable/fonts/Montserrat-Light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Light Italic';
    src: url('../html5blank-stable/fonts/Montserrat-LightItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('../html5blank-stable/fonts/Montserrat-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Medium Italic';
    src: url('../html5blank-stable/fonts/Montserrat-MediumItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('../html5blank-stable/fonts/Montserrat-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat SemiBoldItalic';
    src: url('../html5blank-stable/fonts/Montserrat-SemiBoldItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}



/** BASE **/
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62.5%!important;
    @include media('>=hirez') {
        font-size: 76.5%!important;
    }
}

* {
    box-sizing: border-box;
}

body, a,p, span, li, h1, h2, h3, h4, h5 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    font-family: 'Montserrat Regular', sans-serif;
}

.hidden{
    display: none!important;
}

ul,a, li {
    text-decoration: none;
    list-style-type: none;
}

a.active,
a:active,
a:focus,
a:hover {
    text-decoration: none !important;
    cursor: pointer;
}

.header.clear {
    display: none;
}

.centered {
    margin: 0 auto !important;
}

.container {
    margin: 0 !important;
    padding: 0 !important
}

.center-text {
    text-align: center;
}

.yellow{
    color: $color-yellow;
}

.white{
    color: #fff;
    a:visited,a:focus,a:active,a:hover{
        color: #fff; 
    }
}

.italic{
    font-style: italic;
}

.hide{
    visibility: hidden;
}

h2{
    strong{
    font-family: 'Montserrat Medium', sans-serif;
    font-style: italic;
    font-weight: normal!important;
        &.underline{
            
        }
    }
}

p{
    strong{
        font-family: 'Montserrat Medium', sans-serif;
        font-weight: normal!important;
    }
}

.button{
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 2rem 4rem;
    border-radius: 4px;
    font-family: 'Montserrat SemiBold', sans-serif;
    display: inline-block;
    &.white-button{
        background-color: #fff;
        color: $color-darkblue;
        transition: 0.5s ease;
        &:active, &:hover, a:focus{
            background-color: $color-darkblue;
            color: #fff;
            transition: 0.5s ease;
        }
    }
    &.black-button{
        background-color: $color-darkblue;
        color: #fff;
        transition: 0.5s ease;
        &:active, &:hover, a:focus{
            background-color: #fff;
            color: $color-darkblue;
            transition: 0.5s ease;
        }
    }
}

/*** LAYOUT ***/
#headerHero{
    background-image: url('img/content/asset-_01.jpg');
    background-size: cover;
    min-height: 100vh;
    position: relative;
    #menuNav{
        ul, #logoContainer{
            display: inline-block;
        }
    }
    header{
        nav{
            height: 80px;
            padding: 1.2rem 0px;

            ul{
                float: right;
                li{
                    display: inline-block;
                    font-family: 'Montserrat Medium', sans-serif;
                    font-size: 1.4rem;
                    margin: 0rem 2.0rem;
                    a{
                        color: #fff;
                    }
                }
            }
        }
    }
    .content{
        padding-top: calc(100vh - 52%);
        h1{
            font-family: 'Montserrat Medium', sans-serif;
            font-size: 3.6rem;
            line-height: 3.6rem;    
            margin-bottom: 1rem;
        }
        p{
            font-family: 'Montserrat ExtraLight', sans-serif;
            font-size: 4.7rem;
            line-height: 4.7rem;  
            margin: 2rem 0rem 4rem 0rem;  
        }
    }
    #bottomHeaderBanner{
        background-color: $color-yellow;
        position: absolute;
        bottom: 0px;
        text-align: center;
        p{
            padding: 0.8rem 4rem;
            font-size: 1.6rem;
            line-height: 2.2rem;
        }
        p:before{
            content: '•';
            font-size: 4.2rem;
            display: block;
            margin-bottom: 0.8rem;
        }
    }
}

//Layout typo basique
.content{
    h2, h3{
        font-family: 'Montserrat Medium', sans-serif;
        font-size: 3.0rem;
        line-height: 3.2rem;
        &.light{
            font-family: 'Montserrat Light', sans-serif;
        }
    }
    h4{
        font-size: 1.6rem;
        margin-bottom: 2.2rem;
    }
    p, li{
        font-family: 'Montserrat Light', sans-serif;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

}

#References1{
    background: $color-darkblue;
    p,img{
        display: inline-block;
    }
    img{
        max-width: 16rem;
        margin: 0rem 0.2rem;
    }
    .content{
        padding: 8.9rem 0rem;
    }
    .row{
        text-align: center;
        p{
            margin-top: 2rem;
        }
    }
}

#Enjeux{
    background: #fff;
    display: flex;
    h2{
        margin-bottom: 5rem ;
    }
    .image-container, .content{
        width: 50%;
    }
    .content{
        padding: 12.7rem 0rem;
        padding-left: 12.5%;
        padding-right: 5%;
    }

}

#Cibles{
    background: $color-darkblue;
    background-image: url('img/content/cibles.jpg');
    background-size: cover;
    .content{
        padding: 12.2rem 0rem;
        h2{
            color: $color-yellow;
            margin-bottom: 6.9rem;
        }
    }
    .hybrid{
        margin-top: 9rem;
    }
    .list-container{
        border-top: 1px solid #fff;
        ul{
            margin: 0rem;
            li{
                margin-top: 0.2rem;
            }
        }
        h4{
            font-family: 'Montserrat Medium', sans-serif;
            margin: 6.5rem 0rem;
        }
    }
}

#Offres{
    background: #fff;
    .content{
        padding: 8.3rem 0rem;
        p{
            margin: 0rem;
        }
        h2{
            margin-bottom: 3.8rem;
        }
    }
}

/*** OFFRES ***/
.offre{
    padding: 12.1rem 9.1rem;
    display: inline-block;
    width: 50%;
    .paint{
        display: inline-block;
        position: relative;
        z-index: 1;
        &:before{
            content: ' ';
            position: absolute;
            height: 1.4rem;
            width: 100%;
            bottom: 0;
            z-index: -1;
        }
        &.paint-white:before{
            background-color: #fff;
        }
        &.paint-yellow:before{
            background-color: $color-yellow;
        }
    }
    h5{
        font-family: 'Montserrat Medium', sans-serif;
        font-size: 1.9rem;
        line-height: 2.2rem;
        margin-bottom: 2.8rem;
    }
    h4{
        font-family: 'Montserrat Light', sans-serif;
        font-size: 1.6rem;
        text-transform: uppercase;
        margin-bottom: 2.2rem;
    }
    ul{
        margin-bottom: 5.2rem;
    }
    p{
        margin-bottom: 4.2rem;
    }
    .checklist{
        li:before{
            content: '✓';
            font-size: 1.6rem;
            margin-right: 0.8rem;
            vertical-align: text-bottom;
        }
    }
}

.section-offre{
    display: flex;
}

.image-container{
    padding: 0rem;
    background-color: transparent!important;
    img{
        width: 100%;
        height: 100%;
    }
}


#Offre1, #Offre4{
    .offre{
        background-color: $color-yellow;
    }
}

#Reussite{
    background-color: $color-darkblue;
    .content{
        padding: 20rem 0px;
    }
    .container-title{
        margin-bottom: 13rem;
    }
    .container-logo{
        margin-bottom: 6rem;
        .col-3{
            text-align: center;
            display:flex;
            justify-content:center;
            align-items:center;
        }
    }
    h2{
        font-size: 4.7rem;
        line-height: 5.7rem;
        strong{
            color: $color-yellow;
        }
    }
}

#Forces{
    padding: 13.8rem 0px;
    h3{
        margin-bottom: 4.0rem;
    }
    h4{
        font-family: 'Montserrat Medium', sans-serif;
    }
    p{
        margin-top: 1rem;
    }
    .text-content{
        padding: 2rem 4rem 2rem 0rem;
    }
}

#Contact{
    background-color: $color-yellow;
    padding: 12rem 0rem;
}

#Footer{
    background-color: $color-darkblue;
    padding: 2.4rem;
    ul{
        li{
            font-family: 'Montserrat Medium', sans-serif;
            display: inline-block;
            font-size: 1.4rem;
            line-height: 1.5rem;
            margin: 0rem 1.8rem;
        }
    }
    a, a:visited, a:hover, a:active, a:focus{
        color: #fff!important;
    }
}
