@charset "UTF-8";
/*******BREAKPOINTS********/
/*******VARIABLES*********/
/*********FONTS*******/
@font-face {
  font-family: 'Montserrat ExtraLight';
  src: url("../html5blank-stable/fonts/Montserrat-ExtraLight.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat ExtraLight Italic';
  src: url("../html5blank-stable/fonts/Montserrat-ExtraLightItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Regular';
  src: url("../html5blank-stable/fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Light';
  src: url("../html5blank-stable/fonts/Montserrat-Light.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Light Italic';
  src: url("../html5blank-stable/fonts/Montserrat-LightItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Medium';
  src: url("../html5blank-stable/fonts/Montserrat-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Medium Italic';
  src: url("../html5blank-stable/fonts/Montserrat-MediumItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url("../html5blank-stable/fonts/Montserrat-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat SemiBoldItalic';
  src: url("../html5blank-stable/fonts/Montserrat-SemiBoldItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

/** BASE **/
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5% !important; }
  @media (max-width: 1440px) {
    html {
      font-size: 52.5% !important; } }
  @media (min-width: 1780px) {
    html {
      font-size: 76.5% !important; } }

* {
  box-sizing: border-box; }

body, a, p, span, li, h1, h2, h3, h4, h5 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  font-family: 'Montserrat Regular', sans-serif; }

.hidden {
  display: none !important; }

ul, a, li {
  text-decoration: none;
  list-style-type: none; }

a.active,
a:active,
a:focus,
a:hover {
  text-decoration: none !important;
  cursor: pointer; }

.header.clear {
  display: none; }

.centered {
  margin: 0 auto !important; }

.container {
  margin: 0 !important;
  padding: 0 !important; }

.center-text {
  text-align: center; }

.yellow {
  color: #fcd400; }

.white {
  color: #fff; }
  .white a:visited, .white a:focus, .white a:active, .white a:hover {
    color: #fff; }

.italic {
  font-style: italic; }

.hide {
  visibility: hidden; }

.underline {
  text-decoration: underline #fcd400;
  text-underline-position: under; }

nav ul li a {
  font-weight: normal;
  transition: 0.5s ease; }

nav ul li a:hover {
  font-weight: bold;
  transition: 0.5s ease; }

h2 strong {
  font-family: 'Montserrat Medium', sans-serif;
  font-style: italic;
  font-weight: normal !important; }

h2 .underline {
  text-decoration: underline #fcd400; }
  h2 .underline strong {
    font-style: normal; }

p strong {
  font-family: 'Montserrat Medium', sans-serif;
  font-weight: normal !important; }

.button {
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 2rem 4rem;
  border-radius: 4px;
  font-family: 'Montserrat SemiBold', sans-serif;
  display: inline-block; }
  .button.white-button {
    background-color: #fff;
    color: #181d25;
    transition: 0.5s ease; }
    .button.white-button:active, .button.white-button:hover, .button.white-button a:focus {
      background-color: #181d25;
      color: #fff;
      transition: 0.5s ease; }
  .button.black-button {
    background-color: #181d25;
    color: #fff;
    transition: 0.5s ease; }
    .button.black-button:active, .button.black-button:hover, .button.black-button a:focus {
      background-color: #fff;
      color: #181d25;
      transition: 0.5s ease; }

/*** LAYOUT ***/
#headerHero {
  background-image: url("img/content/asset-_01.jpg");
  background-size: cover;
  min-height: 100vh;
  position: relative; }
  @media (max-width: 435px) {
    #headerHero #menuNav {
      text-align: center; } }
  #headerHero #menuNav ul, #headerHero #menuNav #logoContainer {
    display: inline-block; }
    @media (max-width: 435px) {
      #headerHero #menuNav ul img, #headerHero #menuNav #logoContainer img {
        max-width: 8rem; } }
  #headerHero strong {
    font-style: italic; }
  #headerHero header nav {
    height: 80px;
    padding: 1.2rem 0px; }
    #headerHero header nav ul {
      float: right; }
      #headerHero header nav ul li {
        display: inline-block;
        font-family: 'Montserrat Medium', sans-serif;
        font-size: 1.4rem;
        margin: 0rem 2.0rem; }
        @media (max-width: 768px) {
          #headerHero header nav ul li {
            margin: 0rem 1.0rem; } }
        #headerHero header nav ul li a {
          color: #fff; }
  #headerHero .content {
    padding-top: calc(100vh - 52%); }
    @media (max-width: 1440px) {
      #headerHero .content {
        padding-top: calc(100vh - 54%); } }
    @media (max-width: 768px) {
      #headerHero .content {
        padding-top: 20vh; } }
    @media (max-width: 435px) {
      #headerHero .content {
        padding-top: 10vh; } }
    #headerHero .content h1 {
      font-family: 'Montserrat Medium', sans-serif;
      font-size: 3.6rem;
      line-height: 3.6rem;
      margin-bottom: 1rem; }
    #headerHero .content p {
      font-family: 'Montserrat ExtraLight', sans-serif;
      font-size: 4.7rem;
      line-height: 4.7rem;
      margin: 2rem 0rem 4rem 0rem; }
      @media (max-width: 768px) {
        #headerHero .content p {
          font-size: 2.7rem;
          line-height: 2.7rem; } }
  #headerHero #bottomHeaderBanner {
    background-color: #fcd400;
    position: absolute;
    bottom: 0px;
    text-align: center; }
    @media (max-width: 435px) {
      #headerHero #bottomHeaderBanner {
        width: 100%;
        left: 0; } }
    #headerHero #bottomHeaderBanner p {
      padding: 0.8rem 4rem;
      font-size: 1.6rem;
      line-height: 2.2rem; }
      @media (max-width: 435px) {
        #headerHero #bottomHeaderBanner p {
          margin-bottom: 0rem; } }
    #headerHero #bottomHeaderBanner p:before {
      content: '•';
      font-size: 4.2rem;
      display: block;
      margin-bottom: 0.8rem; }
      @media (max-width: 435px) {
        #headerHero #bottomHeaderBanner p:before {
          display: inline-block;
          vertical-align: middle;
          margin-right: 0.8rem; } }
    @media (max-width: 435px) {
      #headerHero #bottomHeaderBanner .col-4, #headerHero #bottomHeaderBanner .col-9 {
        width: 100%; } }

.content h2, .content h3 {
  font-family: 'Montserrat Medium', sans-serif;
  font-size: 3.0rem;
  line-height: 3.8rem; }
  .content h2.light, .content h3.light {
    font-family: 'Montserrat Light', sans-serif; }

.content h4 {
  font-size: 1.6rem;
  margin-bottom: 2.2rem; }

.content p, .content li {
  font-family: 'Montserrat Light', sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem; }

#References1 {
  background: #181d25; }
  #References1 p, #References1 img {
    display: inline-block; }
  @media (max-width: 768px) {
    #References1 div {
      display: block;
      margin: 1.2rem auto; } }
  #References1 img {
    max-width: 16rem;
    margin: 0rem 0.2rem; }
  #References1 .content {
    padding: 8.9rem 0rem; }
    @media (max-width: 768px) {
      #References1 .content {
        padding: 4.45rem 0rem; } }
  #References1 .row {
    text-align: center; }
    #References1 .row p {
      margin-top: 2rem; }

#Enjeux {
  background: #fff;
  display: flex; }
  @media (max-width: 768px) {
    #Enjeux {
      flex-direction: column; } }
  #Enjeux h2 {
    margin-bottom: 5rem; }
  #Enjeux .image-container, #Enjeux .content {
    width: 50%; }
    @media (max-width: 768px) {
      #Enjeux .image-container, #Enjeux .content {
        width: 100%; } }
  #Enjeux .content {
    padding: 12.7rem 0rem;
    padding-left: 12.5%;
    padding-right: 5%; }
    @media (max-width: 768px) {
      #Enjeux .content {
        padding-right: 12.5%; } }
    @media (max-width: 435px) {
      #Enjeux .content {
        padding: 6.35rem 12.5%; } }

#Cibles {
  background: #181d25;
  background-image: url("img/content/cibles.jpg");
  background-size: cover; }
  @media (max-width: 435px) {
    #Cibles .col-5, #Cibles .col-3, #Cibles .col-4 {
      width: 100%; } }
  #Cibles .col-5 {
    margin-bottom: 6.9rem; }
  @media (max-width: 435px) {
    #Cibles .gutter {
      display: none; } }
  @media (max-width: 435px) {
    #Cibles .hide {
      display: none; } }
  #Cibles .content {
    padding: 12.2rem 0rem; }
    @media (max-width: 435px) {
      #Cibles .content {
        padding: 6.1rem 0rem; } }
    #Cibles .content h2 {
      color: #fcd400;
      margin-bottom: 6.9rem; }
      @media (max-width: 435px) {
        #Cibles .content h2 {
          margin-bottom: 3.45rem; } }
  #Cibles .hybrid {
    margin-top: 9rem; }
    @media (max-width: 435px) {
      #Cibles .hybrid {
        margin-top: 0rem; } }
  #Cibles .list-container {
    border-top: 1px solid #fff; }
    @media (max-width: 435px) {
      #Cibles .list-container {
        border: none; } }
    #Cibles .list-container ul {
      margin: 0rem; }
      #Cibles .list-container ul li {
        margin-top: 0.2rem; }
    #Cibles .list-container h4 {
      font-family: 'Montserrat Medium', sans-serif;
      margin: 6.5rem 0rem; }
      @media (max-width: 435px) {
        #Cibles .list-container h4 {
          margin: 6.5rem 0rem 3.25rem 0rem; } }

#Offres {
  background: #fff;
  position: relative; }
  #Offres .content {
    padding: 8.3rem 0rem; }
    #Offres .content p {
      margin: 0rem; }
    #Offres .content h2 {
      margin-bottom: 3.8rem; }

#Placeholder {
  text-align: center;
  position: absolute;
  width: 100%;
  top: -4rem; }
  @media (max-width: 768px) {
    #Placeholder {
      display: none; } }
  #Placeholder .triangle {
    background-image: url("img/content/rectangle.png");
    background-size: cover;
    display: inline-block;
    height: 7.5rem;
    width: 7.5rem; }

/*** OFFRES ***/
.offre {
  padding: 12.1rem 9.1rem;
  display: inline-block;
  width: 50%; }
  @media (max-width: 768px) {
    .offre {
      width: 100%; } }
  @media (max-width: 435px) {
    .offre {
      padding: 6.05rem 3.55rem; } }
  .offre .paint {
    display: inline-block;
    position: relative;
    z-index: 1; }
    .offre .paint:before {
      content: ' ';
      position: absolute;
      height: 1.4rem;
      width: 100%;
      bottom: 0;
      z-index: -1; }
    .offre .paint.paint-white:before {
      background-color: #fff; }
    .offre .paint.paint-yellow:before {
      background-color: #fcd400; }
  .offre h5 {
    font-family: 'Montserrat Medium', sans-serif;
    font-size: 1.9rem;
    line-height: 2.2rem;
    margin-bottom: 2.8rem; }
  .offre h4 {
    font-family: 'Montserrat Light', sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 2.2rem; }
  .offre ul {
    margin-bottom: 5.2rem; }
  .offre p {
    margin-bottom: 4.2rem; }
  .offre .checklist li:before {
    content: '✓';
    font-size: 1.6rem;
    margin-right: 0.8rem;
    vertical-align: text-bottom; }

.section-offre {
  display: flex;
  position: relative; }
  @media (max-width: 768px) {
    .section-offre {
      flex-direction: column; } }
  @media (max-width: 768px) {
    .section-offre .image-container {
      order: 2; } }

.image-container {
  padding: 0rem;
  background-color: transparent !important; }
  .image-container img {
    width: 100%;
    height: 100%; }
  @media (max-width: 768px) {
    .image-container {
      margin-bottom: -1rem; } }

#Offre1 .offre, #Offre4 .offre {
  background-color: #fcd400; }

#Reussite {
  background-color: #181d25; }
  #Reussite .content {
    padding: 20rem 0px; }
    @media (max-width: 435px) {
      #Reussite .content {
        padding: 6rem 0px; } }
  #Reussite .container-title {
    margin-bottom: 13rem; }
    @media (max-width: 435px) {
      #Reussite .container-title {
        margin: 0rem auto;
        margin-bottom: 6.9rem; } }
  #Reussite .container-logo {
    margin-bottom: 6rem; }
    #Reussite .container-logo .col-3 {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 435px) {
        #Reussite .container-logo .col-3 {
          margin: 2.6rem auto; } }
  #Reussite h2 {
    font-size: 4.7rem;
    line-height: 5.7rem; }
    @media (max-width: 435px) {
      #Reussite h2 {
        font-size: 3.6rem;
        line-height: 4.3rem;
        text-align: center; } }
    #Reussite h2 strong {
      color: #fcd400; }
  @media (max-width: 768px) {
    #Reussite img {
      max-width: 10rem; } }
  @media (max-width: 435px) {
    #Reussite .col-8, #Reussite .col-3 {
      width: 100%; } }

#Forces {
  padding: 13.8rem 0px; }
  @media (max-width: 435px) {
    #Forces {
      padding: 6.9rem 0px; } }
  #Forces h3 {
    margin-bottom: 4.0rem; }
  #Forces h4 {
    font-family: 'Montserrat Medium', sans-serif; }
  #Forces p {
    margin-top: 1rem; }
  #Forces .text-content {
    padding: 2rem 4rem 2rem 0rem; }
  @media (max-width: 435px) {
    #Forces .col-4 {
      width: 100%; } }

#Contact {
  background-color: #fcd400;
  padding: 12rem 0rem; }
  @media (max-width: 435px) {
    #Contact {
      padding: 6rem 0rem; } }
  @media (max-width: 435px) {
    #Contact .col-6 {
      width: 100%; } }
  #Contact div.wpcf7-validation-errors, #Contact div.wpcf7-acceptance-missing, #Contact div.wpcf7-mail-sent-ok {
    border: none;
    font-size: 1.6rem; }
  #Contact .wpcf7-response-output {
    margin: 0 auto;
    width: 100%;
    text-align: center; }
  #Contact .wpcf7 {
    margin: 0 auto; }
    @media (max-width: 768px) {
      #Contact .wpcf7 {
        text-align: center; } }
  #Contact form {
    padding-top: 4.6rem;
    font-size: 1.6rem; }
    @media (max-width: 1024px) {
      #Contact form .col-6,
      #Contact form .col-12 {
        margin-bottom: 1.8rem; } }
    #Contact form .row {
      margin-bottom: 3.2rem; }
      @media (max-width: 1024px) {
        #Contact form .row {
          margin-bottom: 0rem; } }
    #Contact form textarea,
    #Contact form input[type=submit] {
      width: 100%; }
    #Contact form textarea,
    #Contact form input[type=submit],
    #Contact form input {
      border: none;
      padding: 1rem 2rem;
      outline: none;
      background-color: #f0f0f0;
      width: 100%; }
    #Contact form input[type=submit] {
      background-color: #181d25;
      color: #fff;
      transition: 0.5s ease;
      font-weight: 600;
      font-family: 'Montserrat Light', sans-serif;
      font-size: 1.8rem;
      padding: 1.6rem;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box; }

#Footer {
  background-color: #181d25;
  padding: 2.4rem; }
  @media (max-width: 768px) {
    #Footer {
      text-align: center; } }
  #Footer ul {
    margin-left: 0rem; }
    #Footer ul li {
      font-family: 'Montserrat Medium', sans-serif;
      display: inline-block;
      font-size: 1.4rem;
      line-height: 1.5rem;
      margin: 0rem 1.8rem;
      margin-left: 0rem; }
      @media (max-width: 435px) {
        #Footer ul li {
          display: block;
          margin: 1.6rem auto; } }
  #Footer a, #Footer a:visited, #Footer a:hover, #Footer a:active, #Footer a:focus {
    color: #fff !important; }
  #Footer #footerElements {
    float: right; }
    @media (max-width: 768px) {
      #Footer #footerElements {
        float: none; } }
  #Footer nav, #Footer #footerElements {
    display: inline-block; }
    #Footer nav img, #Footer nav p, #Footer #footerElements img, #Footer #footerElements p {
      display: inline-block; }
      @media (max-width: 768px) {
        #Footer nav img, #Footer nav p, #Footer #footerElements img, #Footer #footerElements p {
          display: block;
          margin: 1.6rem auto; } }
    #Footer nav p, #Footer #footerElements p {
      font-family: 'Montserrat Light', sans-serif;
      color: #fff;
      font-size: 1.3rem;
      line-height: 2.3rem;
      margin: 0rem;
      margin-left: 2rem;
      vertical-align: bottom; }
      @media (max-width: 768px) {
        #Footer nav p, #Footer #footerElements p {
          margin: 2.2rem auto; } }
